@model List<DeckBuilder.Models.Card>

@{ ViewBag.Title = "Cards";}

<h1>@ViewBag.Title</h1>

<table class="table">

    @foreach (var card in Model)
    {
        <tr>
            <td>@card.Name</td>
            <td>@card.Element</td>
            <td>@card.Type</td>
            <td><img src=@String.Format("images/{0}.jpg", card.Code) height="300" width="200"/></td>

        </tr>

    }

</table>